<form method='post' action='/links'>
  <label>Title:
    <input type='text' name='title'></label>
  <label>Url:
    <input type='text' name='url'></label>
  <input type='submit' value='Submit'>
</form>

